<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers</title>
</head>
<body>
    <h1>Customers</h1>
    <table border="1">
        <tr>
            <th>Customer</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Company Name</th>
        </tr>
        {% for customer in customers %}
        <tr>
            <td>{{ customer["contactName"] }}</td>
            <td>{{ customer["address"] }}</td>
            <td>{{ customer["phone"] }}</td>
            <td>{{ customer["companyName"] }}</td>
            <td><a href="/update/{{ customer.contactName }}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>